.megamenu-list ul {
    display: inline-block;
}

.megamenu-list ul li {
    display: inline-block;
}

.p-price {
    align-items: center !important;
    justify-content: space-between;
    padding-bottom: 20px;
}

.view-price span:first-child {
    color: #000000;
}

.product-action span {
    cursor: pointer;
}

.product-action span i {
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    color: var(--text);
    background: var(--chalk);
    text-shadow: var(--primary-tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.product-action span i:hover {
    color: var(--white);
    background: var(--primary);
}


.view-price span:last-child {
    color: rgba(255, 0, 0);
    font-size: 13px;
    position: relative;
    top: -5px;
    left: 5px;
}

.p-price .view-price {
    margin: 0px;
}

.p-price .view-price small {
    text-decoration: line-through;
    color: var(--gray);
    position: relative;
    top: -5px;
}

.popular-area li {
    margin: 0px 12px;
}

@media (max-width: 575px) {
    .popular-area .product-card {
        width: 220px;
    }
}

.manufacture li {
    margin: 0px 12px;
}

@media (max-width: 575px) {
    .manufacture .product-card {
        width: 220px;
    }
}

.profile ul li {
    border: 0px solid white;
    margin-bottom: 10px;
}

.profile ul li a {
    color: black;
}

.profile ul .active {
    color: var(--primary);
}

#profile-picture div img {
    clip-path: circle();
}

.orders {
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .orders {
        flex-direction: column;
    }
}

.orders ul li span:first-child {
    font-weight: 700;
}

.form-card h1 {
    font-size: 20px;
}

.form-card input {
    width: 100% !important;
}

.product-content .auth {
    font-size: 12px;
}

@media (max-width: 991px) {
    .table {
        width: auto !important;
        overflow-x: scroll;
    }
}

.fa-heart {
    font-weight: 400;
}

.fa-heart2 {
    font-weight: 900;
}

/*===============================ticket-----------------------------------*/


#ticket {
    height: 70vh;
    overflow-x: scroll;
    position: relative;
    background: #fff;
    padding: 20px 20px;
}

#ticket::-webkit-scrollbar {
    width: 9px;
    height: 30px;
}

#ticket::-webkit-scrollbar-track {
    /*    background: var(--primary) ;*/
}

#ticket::-webkit-scrollbar-thumb {
    background: var(--primary);
}

#reply {
    position: sticky;
    bottom: -20px;
}

/*===============================track order================================*/

#track-order {
    position: relative;
}

.navmenu ul {
    padding-left: 50px;
    position: relative;
}

.navmenu ul::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    /*height: calc(100%- 58px);*/
    left: 40px;
    top: 0px;
    background: rgba(84, 103, 237, 0.3);
    /*background: red;*/
    /*    z-index: -1;*/
}

.navmenu ul li {
    padding: 20px 0px;
    padding-left: 30px;
}

.navmenu ul li::after {
    content: '\f207';
    font-family: 'FontAwesome';
    font-size: 20px;
    position: absolute;
    color: var(--primary);
    width: 25px;
    height: 25px;
    left: 32px;
    background-color: var(--secondary);
    z-index: +99;
    top: 15%;

}

.navmenu ul li a {
    text-decoration: none;
    position: relative;
    color: var(--primary);
    font-size: 20px;
    line-height: 1rem;
    font-weight: 500;
}

.navmenu ul li a::before {
    content: '';
    position: absolute;
    background: rgba(84, 103, 237, 0.5);
    height: 18px;
    width: 18px;
    left: -45px;
    top: 10%;
    border-radius: 50px;
    border: 2px solid var(--primary);
    transition: background 250ms;
}

.navmenu ul li a.active {
    font-weight: 600;
}

.navmenu ul li a.active::before {
    background: var(--primary);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

#track-order span {
    color: #000
}

/*================================================================*/

/* Chrome, Safari, Edge, Opera */
.shop-widget-group input::-webkit-outer-spin-button,
.shop-widget-group input::-webkit-inner-spin-button,
#shop-widget-search input::-webkit-outer-spin-button,
#shop-widget-search input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.shop-widget-group input[type=number],
#shop-widget-search input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



.comments {
    overflow-y: scroll;
    max-height: 90vh;
}

/*===========================help===========================*/

#accordionExample > div {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgray;
}

.accordion-button {
    border-radius: 15px 15px 0px 0px;
}

.accordion-button {
    color: black;
    font-weight: 500
}

.accordion-button:not(.collapsed) {
    color: var(--primary);
    background-color: var(--white)
}

.cart-items {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.order-summary p span:first-child {
    color: black;
}

.order-summary p span:last-child {
    font-size: 18px;
}

/*privacy policy*/

.privacy p {
    position: relative;
    margin-top: 15px;
}

.privacy-ul {

    list-style-type: disc;
    position: relative;
    left: 30px;
}

/*login*/


#nav-pill-background {
    background-color: #edf0ff;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;

}

#nav-pill-background .nav-item:first-child {
    margin-right: 10px;
}

#nav-pill-background .nav-item:last-child {
    margin-left: 10px;
}

#nav-pill-background .nav-link.active {
    color: #fff;
    background: var(--primary);
}

/*==========================billing info page========================*/

.sub-text {
    color: #828282;
    font-size: 14px;
}

.labels {
    font-size: 15px;
    font-weight: 500;
}

.icons i {
    font-size: 14px;
}

.primary-text {
    color: var(--primary);
    font-size: 18px
}

#summary {
    border-radius: 10px;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

.bill-select {
    border: 1px solid var(--gray);
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bill-select1 {
    border: 1px solid var(--gray);
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.cart-text {
    font-size: 16px;
}

/*register*/

#inputs {
    display: none;
}

#reg {
    display: none;
}

#inputs1 {
    display: none;
}

#reg1 {
    display: none;
}

.digit {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    text-align: center;
    font-size: 20px;
    color: black;
    border-color: #dcdcdcfc;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    transition: 0.3s transform;
    background: #f5f5f5;

}

.digit:focus {
    transform: scale(1.2);
    transition: 0.1s;
}

.remove-cart {
    color: red;
    font-size: 30px
}

/*
@media (min-width: 576px) {
    #login-popup .modal-dialog {
        max-width: 90%;
    }
}
*/

.required {
    color: red;
    visibility: visible;
}

.notrequired {
    color: red;
    visibility: hidden;
}

@media (min-width: 576px) {
    #login-popup .modal-dialog {
        max-width: 600px;
    }
}
@media (max-width: 575px) {
    #login-popup .modal-dialog {
        max-width: 100%;
        min-width: 100%;
    }
}
.product-back{
    background: white;
    border-radius: 5px;
    border-width: 0px;
    margin: 5px 0px; 
    width: 100%;
    padding: 10px 20px;
    font-size: 25px;
    color: #15156d;
}
.product-back a{
    color: black;
    width: 100%;
}

.curpoin{
cursor: pointer;


}